.main {
    background-image: url("/assets/images/var0.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.main .main-logo{
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(-50%);
    z-index: -10;
}
